*{
    box-sizing: border-box;
}
body{
    background-color: #000;
}

/* navigation styling starts here */
nav{
    color: #fff;
    background-color: #121212;
}
.navbar-link{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease-in;
}
.navbar-link:hover{
    color: #fff;
    background-color: #252525;
}

.navbar{
    display: flex;
    /* padding: 0.5rem; */
    font-weight: 500;
}
/* navigation left part */
.navbar-left{
    padding: 5px;
    flex: 0 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: gold;
    border-radius: 5px;
}
.logo span{
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    vertical-align: middle;
    padding: 0px 5px;
}
.menu-toggler{
    vertical-align: middle;
    cursor: pointer;
}


/* navigation center part */
.navbar-center{
    padding:5px;
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #252525;
}
.search{
    flex: 0 0 85%;
    display: flex;
    position: relative;
}
.search input{
    width: 100%;
    padding: 5px;
    transition: all 0.3s ease-in;
    border: 2px solid #fff;
}
.pre-search-result{
    position: absolute;
    width: 100%;
    /* margin-left: 5px; */
    background-color: #fff;
    top: 100%;
    z-index: 100;
    display: none;
}
.pre-search-result ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pre-search-result ul li{
    color: #000;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.pre-search-item-img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.search input:focus{
    border-color: gold;
    outline: none;
}
.search button{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    margin-left: -35px;
}
.pro{
    flex: 0 0 10%;
}

/* navigation right part */
.navbar-right{
    padding: 5px;
    flex: 0 0 20%;
    display: flex;
    justify-content: space-between;
}

/* navigation styling ends here */


/* main section styling starts */
main{
    margin: 2rem 0rem;
    color: #fff;
}
/* main carousel section styling */





/* side section styling  */
.side-section-heading{
    color: gold;
    font-size: 1.5rem;
}
.side-section-list{
    margin-top: 1.5rem;
    background-color: #101010;
    padding: 10px;
    cursor: pointer;
}

.side-section-item{
    display: flex;
    margin: 1rem 0px;
}
.side-section-item:hover  .side-section-item-content .side-section-item-options i{
    color: gold;
}
.side-section-item-image{
    flex: 0 0 20%;
    margin-right: 20px;
}
.side-section-item-options i{
    font-size: 2rem;
    transition: all 0.3s ease-in;
}
.side-section-item-options span{
    font-size: 1rem;
    color: lightgrey;
    margin-left: 10px;
}
.side-section-item-title{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #fff;
}
.side-section-item-desc{
    font-size: 1rem;
    color: lightgrey;
}

/* movie section styling */
.movie-section{
    margin: 3rem 0px;
}
.movie-section-main-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-section-main-heading h2{
    color: gold;
    font-size: 1.8rem;
}
.movie-section-main-heading a{
    text-decoration: none;
}
.movie-section-sub-heading{
    margin-top: 2rem;
    border-left: 5px solid gold;
    font-size: 1.7rem;
    padding: 0px 10px;
}
.section-description{
    margin-top: 10px;
    color: lightgray;
}


/* movie section styling */
.movie-list{
    display: flex;
    flex-wrap: wrap;
}
.movie-item{
    width: calc(100%/6);
    border-radius: 5px;
    margin: 5px 5px;
}

.movie-header{
    position: relative;
}  
.bookmark{
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 2.5rem;
    color: gold;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.bookmark:hover{
    opacity: 0.8;
}
.movie-img{
    height: 100%;
    width: 100%;
    object-fit:  cover;
}
.movie-body{
    padding: 10px;
    background-color: #1a1a1a;
}
.movie-rating i{
    color: gold;
}
.movie-title{
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}
.wathlist-btn{
    background-color: #2c2c2c;
    color: #5799ef;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in;
}
.wathlist-btn:hover{
    background-color: #30353c;
}
.movie-information{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    font-size: 1.1rem;
}


/* foooter styling starts */
footer .container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer-btn{
    background-color: gold;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.social-icon-list{
    text-align: center;
}
.social-icon-list i{
    font-size: 1.5rem;
    margin: 0px 15px;
}
.social-icon-list a{
    color: #fff;
}
.footer-link{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in;
    margin: 0px 10px;
}
.footer-link i{
    font-size: 10px;
}
.footer-link:hover{
    color: #fff;
    text-decoration: underline;
}
.copywrite{
    font-size: 13px;
    color: lightgray;
}


/* movie page styling starts */
.movie-details-bg{
    min-height: 50vh;
}
.movie-details-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-title h2{
    font-size: 3rem;
    font-weight: 400;
    line-height: 0.9;
}
ul.presentation{
    list-style-type: none;
    padding: 0px;
}
ul.presentation li{
    display: inline-block;
    font-size: 14px;
    color:  lightgray;
    margin-right: 20px;
    position: relative;
}
ul.presentation li:first-child::before{
    display: none;
}
ul.presentation li::before{
    content: ' ';
    position: absolute;
    display: flex;
    top: 10px;
    left: -13px;
    height: 3px;
    width: 3px;
    background-color: lightgray;
    border-radius: 50%;
    vertical-align: middle;
}
.add-to-watchlist{
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.add-to-watchlist:hover{
    color: gold;
}
.movie-ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating{
    margin: 0px 15px;
}
.rating h4{
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
}
.movie-rating-details i{
    font-size: 1.5rem;
    color: gold;
}
.movie-rating-details span{
    margin-left: 10px;
}
.img-poster{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-count{
    margin: 5px;
    background-color: #383939;
    opacity: 0.6;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-count{
    margin: 5px;
    background-color: #383939;
    opacity: 0.6;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-box{
    padding: 5px;
    height: 100%;
    width: 100%;
    background-color: #383939;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-box h2{
    color: #fff;
}
.genere-tags{
    display: flex;
    align-items: center;
    margin: 1rem 0px;
}
.genere-tags .tag{
    border: 1px solid lightgray;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;

}
.movie-detail-item{
    padding: 10px 0px;
    border-bottom: 1px solid #fff;
}
.movie-detail-item span{
    color: cyan;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.movie-detail-item span:hover{
    text-decoration: underline;
}

.movie-details-bg{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.transbox{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px) saturate(100%);
}


/* watchlist page styling */
.watchlist{
    min-height: 50vh;
}
.watchlist-item{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
}
.watchlist-item-image{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}
.watchlist-item-image img{
    width: 200px;
    height: 180px;
    object-fit: cover;
}
.watchlist-item-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.watchlist-item-title{
    font-size: 1.5rem;
}
.watchlist-item-year{
    font-size: 14px;
}
.watchlist-item-genre{
    font-size: 15px;
    font-weight: 500;
}
.watchlist-item-ratings{
    font-size: 18px;
}
.watchlist-item-ratings i{
    color: gold;
}
.watchlist-item-options{
    flex: 0 0 10%;
}
.watchlist-item-options i{
    font-size: 1.2rem;
    margin: 0px 5px;
    padding: 5px;
    cursor: pointer;
    color: gold;
    transition: all 0.3s ease-in;
}
.watchlist-item-options i:hover{
    color: #fff;
}
.watchlist-item-options a{
    color: gold;
    transition: all 0.3s ease-in;
}
.watchlist-item-options a:hover{
    color: #fff;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.overlay .overlay-msg{
    position: relative;
    border-radius: 5px;
    min-height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    z-index: 1001;
}
.close-overlay{
    position: absolute;
    right: 10px;
    top: 10;
    color: #000;
    font-size: 30px;
    cursor: pointer;
}
.close-overlay i{
    transition: all 0.3s ease-in;
}
.close-overlay i:hover{
    color: gold;
}
.overlay-text{
    text-align: center;
    margin: 20px 5px;
}
.overlay-msg-inner{
    margin: 20px 0px;
    font-size: 15px;
}